body {
    margin: 0;
    font-size: 10pt;
    font-family: sans-serif;
    font-weight: 600;
    background-image: url(static/background.svg);
    background-size: cover;
}

.main-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation-name: fadein;
    animation-duration: 500ms;
}

@keyframes fadein {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}

.no-room-selected {
    font-size: large;
    padding: 1cm;;
}

.login-form {
    background-color: aliceblue;
    margin: 0 auto;
    padding: 5mm;
    display: inline-block;
    border-radius: 2mm;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-form label {
    display: block;
    margin: 3mm 0;
}

.login-form button {
    display: block;
    float: right;
}

.login-form .label-text {
    display: inline-block;
    width: 2.5cm;
}

.profile-bar {
    display: flex;
    flex-direction: row;
    padding: 2mm;
}

.profile-bar img.avatar {
    height: 10mm;
}

.profile-bar * {
    line-height: 10mm;
}

.profile-bar p.username {
    margin: 0 2mm;
    font-weight: 600;
    font-size: 4mm;
    flex-grow: 1;
}

p.error {
    word-break: break-word; color: rgb(59, 0, 0);
    font-size: small;
}

.profile-bar i {
    font-size: 5mm;
    margin: 2mm;
}

div.profile-card {
    z-index: 10;
    position: fixed;
    right: 3mm;
    top: 3mm;
    background: rgb(0, 0, 50);
    padding: 5mm;
    border-radius: 2mm;
    color: white;
    animation-name: fadein;
    animation-duration: 500ms;
}

div.profile-card .avatar {
    width: 15mm;
    height: 15mm;
}

div.main-view {
    flex-grow: 1;
    padding: 2mm 3mm;
    background-color: rgba(255, 255, 255, 0.80);
}

div.not-following-warning-wrapper {
    position: relative;
    height: 0px;
}

div.not-following-warning {
    position: absolute;
    bottom: 2mm;
    left: 2mm;
    right: 7mm;
    background: rgb(255, 100, 100);
    color: black;
    padding: 2mm;
    border-radius: 2mm;

}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 2mm 3mm;
    background-color: rgb(0, 0, 100, 0.5);
    color: white;
    width: 8cm;
}

button {
    border: none;
    border-radius: 1mm;
    padding: 2mm 3mm;
    margin: 2mm 0;
    font-weight: inherit;
    color: white;
    background-color: rgb(70, 70, 100);
}

button:hover {
    background-color: rgb(80, 80, 100);
}

.sidebar button i {
    margin: 0 2mm;
}

.message-form button {
    height: 100%;
    margin: 0 2mm;
}

.channel-directory {
    animation-name: fadein;
    animation-duration: 500ms;
}

.channel-directory ul {
    padding-left: 5mm;
    overflow-x: hidden;
}

.channel-directory li {
    margin: 1mm 0;
}

.sidebar input {
    box-sizing: border-box;
    width: 100%;
    /* width: calc(100% - 4mm); */
}

.room-view {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.room-messages {
    flex-grow: 1;
    overflow-y: scroll;
}

.message-form {
    display: flex;
    margin-right: 3mm;
}

.message-form textarea {
    flex-grow: 1;
}

.message-wrapper {
    margin: 1mm;
    display: flex;
    flex-direction: row;
}

.message-wrapper .msg {
    min-width: 0;
}

.message-wrapper .username {
    font-size: small;
    font-weight: bold;
    margin: 1mm;
}

.message-wrapper .message {
    font-size: small;
    font-weight: 500;
    margin: 1mm;
}

.message-wrapper img.avatar {
    max-height: 8mm;
    max-width: 8mm;
    margin: 1mm 2mm;
    flex-shrink: 0;
}

h2 {
    margin: 2mm 0;
}

hr.roomname-content-set {
    width: 100%;
    border: solid black 1px;
}

button.invitee-add { 
    margin: 5mm 0;
}

i.invitee-remove {
    margin: 0 2mm;
}

button.save {
    display: block;
    margin: 5mm 0;
}

.room-meta {
    display: flex;
    flex-direction: horizontal;
}

.room-meta h2 {
    flex-grow: 1;
    margin-top: 3mm;
}

.room-meta img.avatar {
    max-height: 12mm;
    max-width: 12mm;
    margin: 1mm 2mm;
    /* flex-shrink: 0; */
}

.profile-edit img.avatar {
    margin: 2mm;
    vertical-align: middle;
}